/*DOCUMENTO CSS*/

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: "DM Sans", sans-serif;
    color: #333;
    line-height: 1.6;
    background-color: #fff;
}

h1 {
    text-align: center;
    background-color: #F7D5E4;
    color: #fff;
    padding: 16px 0; 
    font-weight: 500;
    margin-bottom: 16px; 
}

h2 {
    padding: 8px 16px; 
    color: #555;
    font-weight: 500;
    margin: 16px 0;
}

.cabecera {
    background-color: #E7FFFF;
    padding: 16px 0px; 
    margin-bottom: 24px; 
}

.listas, 
.contenido {
    padding: 24px 16px; 
    width: 70%; 
    margin: 0px auto; 
}

.atencion {
    color: #f79cbd; 
}

.listas ol {
    border: 4px double #DCF9CF; 
    padding: 24px;
    list-style-position: inside;
    background-color: transparent; 
}

.contenido p {
    line-height: 140%; 
    padding: 8px 0px 16px 0px; 
    color: #555;
}

.pie span {
    display: block;
    text-align: center;
    background-color: #FEEBFF; 
    font-size: 16px; 
    padding: 16px 0;
}

.listas li {
    padding: 8px 0;
}

@media (max-width: 768px) {
    .listas, .contenido {
        width: 90%;
    }
}