/*DOCUMENTO CSS*/

* { margin: 0;
    padding: 0; }

/*TIPOGRAFÍA*/
@font-face {
    font-family: 'Coolvetica Rg';
    src:url('../fonts/CoolveticaRg-Regular.woff') format('woff2'),
        url('../fonts/CoolveticaRg-Regular.woff2') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}



.cabecera { font-family: 'Coolvetica Rg'; 
            background: rgb(207, 231, 253);
            padding-top: 8px;
            min-height: 1px; }

.bar { width: 100%;
        min-height: 1px; }

.logo { color: rgb(255, 255, 255); 
        width: 40px;
        font-size: 2em; 
        display: block; 
        margin: auto; 
        padding-bottom: 8px; }

.container { display: flex;
             width: 100%;
            flex-flow: row wrap;}

.items { width: 50%; 
         text-align: center; 
         color:  rgb(207, 231, 253);
         background: rgb(255, 255, 255);
         padding: 8px 0px; }

.container a::first-child { display: none; }

/*BREAKPOINT 600PX*/
@media only screen and (min-width:600px) {

.items { width: 25%; }
}

/*BREAKPOINT 992PX*/
@media only screen and (min-width:992px) {

    .items { width: 20%; }

    .logo { font-size: 3em; }

    .container { width: 80px;
                 margin: auto;
                 position: relative;
                 top: 15px; }

    .container a::first-child { display: block; 
                                border-top-left: 16px; 
                                border-bottom-left: 16px ;}
    }